#project{
   padding: 80px 0;
}

.projects-cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1.5vh;

}



.project-head {
   text-align: center;
    color: #ffffff;
    font-size: 36px;
    font-weight: 600;
    font-family: Poppins;
    margin-bottom: 30px;
}

@media screen and (min-width:576px) {
    .project-head {
        font-size: 30px;
    }
}

@media screen and (min-width:768px) {
    .project-head{
        font-size: 36px;
    }
}


.projects-list {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    flex-wrap: wrap;
    list-style-type: none;
    gap: 4.3vh;


}

.project-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 90%;
    border-radius: 16px;
    flex-shrink: 1;
    flex-grow: 0;
    position: relative;
    cursor: pointer;

}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .project-card {
        width: 90%;
    }
}

@media screen and (min-width: 992px) {
    .project-card {
        width: 400px;
    }
}

@media screen and (min-width: 1200px) {
    .project-card {
        width: 500px;
    }
}

.image-cont {
    width: 100%;
    margin: 0px;
    padding: 0px;
    border: 0px solid #eee;
}

.project-img {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    border-radius: 16px;
}

.project-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px 15px;
    display: flex;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 16px;
    background-image: linear-gradient(to top, #000000 10%, transparent);
}

.project-title {
    color: #ffffff;
    font-family: Roboto;
    font-size: 30px;
}

@media screen and (min-width: 992px) {
    .project-title {
        font-size: 20px;
        margin-right: 15px;
    }
}

@media screen and (min-width: 1200px) {
    .project-title {
        font-size: 28px;
    }
}

.buttons-cont {
    display: flex;
    align-items: center;
}

.button {
    display: none;
    background: transparent;
    border: 1px solid #fff;
    color: #ffffff;
    font-family: Roboto;
    padding: 10px;
    border-radius: 24px;
    margin-right: 12px;
    margin-left: 0px;
    font-size: 14px;
    font-weight: 500;
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 12px;
    padding-bottom: 12px;
    cursor: pointer;
}



.arrow {
    display: inline;
    position: absolute;
    right: 0;
    margin-right: 45px;
    color: #fff;
    background-color: transparent;
}

.add-bg {
    background-color: #30CAFE;
    border-radius: 20px;
}


@media screen and (min-width:768px) {
    .button {
        display: block;
        font-size: 12px;
    }

    .arrow {
        display: none;
    }
}

.button:hover{
    background-color: #fff;
    color: #000;

}


.add-lg-bg-2 {
    background-color: #fff;
    color: #000;

}