#about {
    padding: 0px 0;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1 {
    flex-basis: 100%;
    text-align: center;
}

.about-col-1 img {
    width: 100%;
    border-radius: 15px;
    object-fit: cover;
    position: static;
}

.about-col-2 {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    text-align: center;
}




.sub-title {
    font-size: 40px;
    font-weight: 600;
    color: #fff;
    font-family: Poppins;
    margin-top: 30px;
}

.desc {
    color: #ababab;
    font-weight: 400;
    font-family: Poppins;
    font-size: 14px;


}

.tabs {
    color: #ababab;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0 40px;
    gap: 5.5vh;  

}



.resume-btn {
    padding: 20px;
    width: 150px;
    border: none;
    border-radius: 12px;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    background: transparent;
    border: 1px solid #4724BE;
    align-self: center;
    margin-top: auto;
    cursor: pointer;
}


@media screen and (min-width:425px) {
    #about {
        padding: 0px 0;
    }
    
  
    .about-col-1 img{
        width: 70%;
    }
    
    .desc {
        font-size:2.5vw;
    }

    .sub-title {
        font-size: 6vw;

    }
    .resume-btn {
        width: 220px;
        font-size: 3.5vw;
    }


}


@media screen and (min-width:576px) {
    #about {
        padding: 0px 0;
    }

    .about-col-1,
    .about-col-2 {
        text-align: center;

    }

    .about-col-1 img {
        width: 50%;
    }

    .desc {
        font-size: 2vw;
    }
    .sub-title {
        font-size: 5.5vw;

    }

    .resume-btn {
        font-size: 3.5vw;

    }


}
@media screen and (min-width:768px) {
    #about {
        padding: 80px 0;
    }

    .about-col-1 {
        flex-basis: 40%;
        text-align: left;
    }
    .about-col-1 img{
        width: 100%;
    }

    .about-col-2 {
        flex-basis: 55%;
        text-align: left;

    }

    .desc {
        font-size: 1.5vw;
    }
    .sub-title {
        font-size: 26px;
        margin-top: 0px;
        align-self: flex-start;
    }

    .tabs {
        justify-content: flex-start;
    }

    .resume-btn{
        align-self: flex-start;
        font-size: 18px;
        width: 290px;
    }
}

@media screen and (min-width:992px) {
    .about-col-1 {
        flex-basis: 30%;
    }

    .about-col-2 {
        flex-basis: 65%;
    }

    .sub-title {
        font-size: 36px;;
    }

    .desc {
        font-size: 1.3vw;
    }

    .resume-btn {
        padding: 20px;
        font-size: 24px;
    }

}