#contact {
    padding: 80px 0;
}

.contact-cont{
    display: inline-block;
    flex-direction: column;
    width: 100%;
    margin-top: 17.1vh;
}

.contact-head{
    text-align: center;
}


.contact-cont {
    background-image: linear-gradient(to right,#4EADD9,#4724BE);
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-radius: 100px;
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 40px;
}

.contact-head {
    font-size: 36px;
    text-align: center;
    margin-bottom: 30px;
}

.contact-col-1 {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
}

.contact-col-1 form {
    display: flex;
    flex-direction: column;
}

.contact-col-1 input,
.contact-col-1 textarea {
    color: #fff;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #020f1d;
}

.contact-col-1 textarea {
    height: 150px;
}

.contact-col-1 button {
    width: 100%;
    padding: 10px;
    background-color: #020f1d;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contact-col-1 button:hover {
    background-color: #0477f2;
}



.social-cont{
    display: flex;
    flex-direction: column;
    border: 1px solid #000;
}

.success-msg{
    color: #fff;
    text-align: center;
    margin: 20px 0 0 0;
    background-color: green;
    /* padding: 10px 0 10px 0; */
}

.error-msg{
    background-color: red;
    color: #fff;
    text-align: center;
    margin: 20px 0 0 0;

}